* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'AdLaM Display', sans-serif;
}

body > header {
    background-color: #273f19;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
}

header li a { 
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.container { 
    width: 1366px;
    margin: 0 auto;
}

.articles { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius:4px;
}

.articles article { 
    width: 30%;
}

section { 
    padding: 16px 0;
}

section h2, .articles article { 
    margin-bottom: 16px;
}

.articles article h3 { 
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article a { 
    background-color: #273f19;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    margin-top: 8px;
    border-radius: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

section h2 { 
    font-size: 32px;
}

section#sports { 
    background-color: #edede9;
}

#sports .articles article a {
    background-color: #5b8046;
}

section#economy { 
    background-color: #c7b8a9;
}

#economy .articles article a {
    background-color: rgb(30, 30, 32);
}

section#cinema { 
    background-color: #bccab6;
}

#cinema .articles article a {
    background-color: rgb(67, 92, 61);
}

section#dogs { 
    background-color: #d4bfa8;
}

#dogs .articles article a {
    background-color: rgb(66, 38, 21);
}